peers.dat
configure
config.log
config.status
libtool
Code Cache/*
Cache/*
GPUCache/*
test/config.ini
test/cache/*
test/functional/test_framework/__pycache__/*
src/data/*
src/*.exe
src/yacoin
src/yacoind
src/test_yacoin
src/build.h
src/miniupnpc
utils/sw
utils/stage
utils/downloads
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.yacoin
#compilation and Qt preprocessor part
*.qm
Makefile
yacoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
README.md
.genjane
.genleveldb
yacoind-*
autom4te.cache
.deps
.dirstamp
Makefile.in
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
src/qt/forms/ui*.h
src/yacoin_test
src/log.0000000*1
log.000*1
src/qt/*moc
.vscode/*
src/libyacoin_common.a
src/qt/libbitcoinqt.a
src/qt/moc_*
release/yacoin-qt.exe
Makefile.Debug
Makefile.release
object_script.yacoin-qt.Debug
object_script.yacoin-qt.Release
*.pyc
