[Desktop Entry]
Encoding=UTF-8
Name=Yacoin
Comment=Yacoin P2P Cryptocurrency
Comment[fr]=Yacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Yacoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/yacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/yacoin-128.png
MimeType=x-scheme-handler/yacoin;
Categories=Office;Finance;
Name[en_US]=yacoin-qt

